@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  ::before,
  ::after {
    @apply dark:border-[--border-color];
  }
}

:root {
  --background: #FBFBFF;
  --foreground: #000000;
  --purple : #7D7BE2;
  --light-txt : rgba(0,0,0,0.6);
  --border-color: hsl(0 0% 89.8%);
  --card-bg :  hsl(0 0% 96.1%);
  --secondary-color : hsl(0 0% 9%);
  --border-color: rgba(0,0,0,0.2);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #141416;
    --foreground: #FFFFFF;
    --light-txt : rgba(255,255,255,0.7);
    --card-bg :  hsl( 0 0% 14.9%);
    --secondary-color : hsl(0 0% 98%);
    --border-color: rgba(255,255,255,0.2);

  }
}


.light{
    --background: #FBFBFF;
    --foreground: #000000;
    --purple : #7D7BE2;
    --light-txt : rgba(0,0,0,0.6);
    --border-color: hsl(0 0% 89.8%);
    --card-bg :  hsl(0 0% 96.1%);
    --secondary-color : hsl(0 0% 9%);
    --border-color: rgba(0,0,0,0.2);
}

.dark{
  --background: #141416;
  --foreground: #FFFFFF;
  --light-txt : rgba(255,255,255,0.7);
  --card-bg :  hsl( 0 0% 14.9%);
  --secondary-color : hsl(0 0% 98%);
  --border-color: rgba(255,255,255,0.2);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


span{
  color : var(--foreground);
  font-weight: bold;
}
.font-light{
  color : var(--light-txt);
}

a{
  color: var(--purple);
  transition: 0.2s;
}
.nav a{
  color:var(--foreground)
}


.content-container > a {
  display: block;
  color: var(--foreground);
  position: relative;
}

.content-container > a *{
  transition: 0.2s;
}


.content-container > a:hover .font-medium{
    color: var(--purple);
}

.content-container > a:hover .font-light{
    color: var(--foreground);
}
.content-container > a:hover span{
  border-color: var(--purple);
}

.content-container > a:not(:last-child)::before{
  border-left: 2px  solid var(--foreground);

  opacity: 0.5;
  display: block;
  position: absolute;
  height: 60px;
  bottom : -20px;
  left: 22.5px;
  content: "";
  z-index: -1;
  margin: auto;

}


[data-theme='dark'] [data-hide-on-theme='dark'],
[data-theme='light'] [data-hide-on-theme='light'] {
  display: none;
}

.nav:hover .item{
  padding-left: 10px;
  padding-right: 10px;
}
.nav .item{
  transition: 0.3s;

}

.nav .item:hover{
  transform: scale(1.4);
  padding-left: 15px;
  padding-right: 15px;

}