@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FBFBFF;
  --foreground: #000000;
  --purple : #7D7BE2;
  --light-txt : rgba(0,0,0,0.6);
  --border-color: hsl(0 0% 89.8%);
  --card-bg :  hsl(0 0% 96.1%);
  --secondary-color : hsl(0 0% 9%);
  --border-color: rgba(0,0,0,0.2);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #141416;
    --foreground: #FFFFFF;
    --light-txt : rgba(255,255,255,0.7);
    --card-bg :  hsl( 0 0% 14.9%);
    --secondary-color : hsl(0 0% 98%);
    --border-color: rgba(255,255,255,0.2);

  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


span{
  color : var(--foreground);
  font-weight: bold;
}
.font-light{
  color : var(--light-txt);
}

a{
  color: var(--purple);
}


.content-container > div {
  position: relative;
}

.content-container > div:not(:last-child)::before{
  border-left: 2px  solid var(--foreground);

  opacity: 0.5;
  display: block;
  position: absolute;
  height: 60px;
  bottom : -20px;
  left: 22.5px;
  content: "";
  z-index: -1;
  margin: auto;

}


[data-theme='dark'] [data-hide-on-theme='dark'],
[data-theme='light'] [data-hide-on-theme='light'] {
  display: none;
}